
.articleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    background-color: #2F2F2F;
    border-radius: 10px;
    border: 1px dashed #E8E8E8;
    padding: 15px;
}

.articleBox h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.articleBox p {
    padding: 15px;
    padding-top: 0;
    margin-bottom: 0 !important; 
    font-size: 14px;
    text-align: left;
}

.articleBox a {
    display: inline-flex;       
    align-items: center; 
    gap: 5px;    
    text-decoration: none;
    padding: 0 0 15px 0;
    background-color: transparent !important;
    box-shadow: none !important;
}

.articleBox a:hover {
    text-decoration: underline;
}

.articleLine {
    height: 2px;
    width: 180px;
    background-color: #FF6B6B;
    border-radius: 2px;
    margin: 0 auto;
}