
.colorBox {
  flex: 0 0 calc(33.333% - 20px); 
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1E1E1E;
  font-weight: 600;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

  .colorName {
    text-shadow: 0 0 3px rgba(0,0,0,0.5);
  }

  &:nth-child(4n) { 
    color: #E8E8E8;
  }
}
