
.card{
  border-radius:var(--br);
  background-color: var(--background-primary);
  box-shadow: 0 0 4px 2px rgba(255, 107, 107, 0.5);
  padding: 15px 0 10px 0;
  
  & p,h1,h2,h3,h4,h5,h6{
    padding-left:10px;
    padding-right:10px;
  }
  
}

.outlined{
  border:var(--bd);
  box-shadow:none;
}


