.glowBox {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius:  10px;
    box-shadow: 0 0 4px 2px rgba(255, 107, 107, 0.5);
    margin: 20px 0;
}

.colorsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0;
    justify-content: center;
    align-items: center;
  }
  

  .fullImg {
    width: 100%;
    height: auto;
  }