.header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .searchContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .searchInput {
    flex: 1;
    width: 100%;
    height: 50px;
    padding: 20px;
    margin: 10px;
    background-color: #2F2F2F;
    border-radius: 50px;
    border: none;
    outline: none;
  }
  
  .searchIcon {
    background-color: #2F2F2F;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.4s;
  }

  .searchIcon:hover {
    background-color: #1E1E1E;
    box-shadow: 0 0 4px 2px rgba(255, 107, 107, 0.5);
    cursor: pointer;
  }
  
  .recentList {
    display: flex;
    border-radius: 20px;
    list-style: none;
  }
  
  .recentList li {
    background-color: #2F2F2F;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px dashed #E8E8E8;
    cursor: pointer;
    transition: background 0.4s;
  }
  
  .recentList li:hover,
  .icon:hover {
    background-color: #1E1E1E;
    box-shadow: 0 0 4px 2px rgba(255, 107, 107, 0.5);

  }

  .rightIcons {
    display: flex;
    gap: 15px;
  }
  
  .icon {
    background-color: #2F2F2F;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.4s;
  }
  