.navbar {
  display: flex;
  flex-direction: column;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.4s;

    &:hover {
      background-color: #2F2F2F;
      color:#E8E8E8;
      box-shadow: 0 0 4px 2px rgba(47, 47, 47, 0.5);
    }

    &.active {
      color: #ffd700;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .sectionHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    transition: background 0.4s;
    cursor: pointer;

    span {
      font-size: 18px;
      font-weight: 400;
      padding: 5px 10px;
      color: #fff;
    }

    &:hover {
      background-color: #2F2F2F;
      color:#fff;
      box-shadow: 0 0 4px 2px rgba(47, 47, 47, 0.5);
    }
  }

  .submenu {
    margin-left: 15px;
    margin-top: 5px;

    li {
      margin-bottom: 5px;
    }
  }
}

.arrowMenu {
  color: #fff;
  &:hover {
    color: #fff;
  }
}