img {
    display:block;
    width:100%;
    height:100%;
    object-fit: cover;
    width: 400px;
    height: auto;
}

.fancy {
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(255, 158, 158, 0.6);
}

.border {
    border: 1px dashed #E8E8E8;
}